<!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="description" content="TravelAfric.com provides a one-stop-shop to book your accommodation, airport transfers, rent-a-car, book excursions, tours, tours guide and buy event tickets in Africa. Planning to your trip or vacation to anywhere in Africa is made more secured, seamless, complete and well connected as never before on one single platform">
    <meta name="Travelafric.com" content="Travelafric.com">
    <meta name="keywords" content="Travel Africa, Travel Afriq, Travel Afric, Travel to South Africa, Travel to Tanzania, Travel Kenya, Travel to Ghana, Travel to Ethiopia, Travel to Nigeria, Safari, Africa, Hotels in Africa, Rent-A-Car in Accra, Vacation in Africa, Event Tickets, Tours Guides, Airport Transfers in Ghana,
                                    Airport Transfers in Addis Ababa, Airport Transfer in Johannesburg, Airport Transfer in Nairobi, Airport Transfer in Dar Es Salaam, Airport Transfer in Zanzibar">
    
    <meta name="keywords" content="Accra hotels, Hotels in Accra, Accra accommodation, Where to stay in Accra, Accra hotel deals, Best hotels Accra, Luxury hotels Accra, Budget hotels Accra, Accra hotel booking, Hotel Accra Ghana, Boutique hotels Accra, Business hotels Accra, Family hotels Accra, Resorts Accra, Guest houses Accra, Serviced apartments Accra,
                                    Airport hotels Accra, Hotels near Kotoka International Airport, Hotels in Osu Accra, Hotels in Cantonments Accra, Hotels in Labadi Accra, Hotels in East Legon Accra, Hotels near , Beach hotels Accra, Hotels with pool Accra, Hotels with free Wi-Fi Accra, Hotels with restaurant Accra, Hotels with gym Accra, Conference hotels Accra, Spa hotels Accra,
                                    Pet-friendly hotels Accra, Hotels with breakfast included Accra, Hotels with shuttle service Accra, Hotels with rooftop bar Accra, Accra business travel, Accra vacation hotels, Accra weekend getaway, Accra honeymoon hotels, Accra corporate hotels, Accra tourism hotels, Accra Apartment, Best luxury hotels in Accra with a pool, Budget hotels near Kotoka Airport,
                                    Family friendly hotels in Accra, Apartments near Kotoka International Airport, Apartments in Osu Accra, Apartments in Cantonments Accra, Apartments in Labadi Accra, Apartments in East Legon Accra, Apartments near, Beach Apartments Accra, Apartments with pool Accra, Apartments with free Wi-Fi Accra, Apartments with restaurant Accra, Apartments with gym Accra, 
                                    Hotels & Apartments in Ghana, Best Hotels in Accra, Accra, Luxury Apartments in Accra, Best Hotels Deals in Accra, Hotel Deals & Promos in Accra, Cheaper Apartments in Accra, One-Stop Africa Travel Shop, Cheaper Apartments in Accra">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--change icon-->
	<link rel="shortcut icon" href="res/images/favicon.png" type="image/x-icon">
    <!-- Theme Styles -->
    <link rel="stylesheet" href="res/css/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="res/css/animate.min.css">
    
    <!-- Current Page Styles -->
    <link rel="stylesheet" type="text/css" href="res/components/revolution_slider/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="res/components/revolution_slider/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="res/components/jquery.bxslider/jquery.bxslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="res/components/flexslider/flexslider.css" media="screen" />
    <!--new code-->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    
    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="res/css/style.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="res/css/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="res/css/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="res/css/responsive.css">
    
    <!-- CSS for IE -->
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="res/css/ie.css" />
    <![endif]-->
    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->