<!-- Meta Tags -->
    <meta charset="utf-8">
    <meta property="og:title" content="Travelafric.com: Books Hotels, Tours, Transfers, Tours Guides & Rent A Car in Africa" >
    <meta name="Travelafric.com" content="Travelafric.com: Books Hotels, Tours, Transfers, Tours Guides & Rent A Car">
    <meta property="og:site_name" content="Travelafric.com" />
    <meta name="description" content="Explore Africa with Travelafric.com. Lower Price Guaranteed on hotels, apartments, car rentals, airport transfers, event tickets and tour guides booking – book your perfect trip on anywhere in Africa.">
    
    <meta name="keywords" content="apartments, lodging, accommodation, Hotel, Hotels, special offers, packages, specials, weekend breaks, city breaks, deals, budget, cheap, discount, savings">
    <meta name="keywords" content="rent a car, car tentals, sedan cars, suv cars, hire a bus, airport transfers, taxi transfers, special offers, packages, specials, weekend breaks, budget, cheap, discount, savings">
    <meta name="keywords" content="excurions, day tours, safari, adventure tours, , Hotel, Hotels, special offers, packages, specials, weekend breaks, city breaks, deals, budget, cheap, discount, savings">
    <meta name="keywords" content="vacations packages, safari packages, all inclusive tours, trip to Africa, special offers, packages, specials, weekend breaks, city breaks, deals, budget, cheap, discount, savings">
    <meta name="keywords" content="tour guides, meet & greet, book a guide, trip to Africa, airport assistance, special offers, packages, specials, weekend breaks, city breaks, deals, budget, cheap, discount, savings">
    
    <meta name="keywords" content="Travel Africa, Travel Afrique, Western Africa, Ethiopia, Egypt, DR Congo, Tanzania, South Africa, Kenya, Sudan, Uganda, Algeria, Morocco, Angola, Mozambique, Ghana, Madagascar. Côte d'Ivoire, 
                                   Cameroon, Niger, Mali, Burkina Faso, Malawi, Zambia, Chad, Somalia, Senegal, Zimbabwe, Guinea, Benin, Rwanda, Burundi, Tunisia, South Sudan, Togo, Sierra Leone, Libya, Congo, Liberia, Central African Republic,
                                   Mauritania, Eritrea, Namibia, Gambia, Gabon, Botswana, Lesotho, Guinea-Bissau, Equatorial Guinea, Mauritius, Eswatini, Djibouti, Comoros, Cabo Verde, Sao Tome & Principe, Seychelles, Réunion, Western Sahara, 
                                   Mayotte, Saint Helena">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="Travelafric.com" />
    <meta property="og:site_name" content="Travelafrica" />
    <meta property="twitter:site" content="Travelafric"/>
    <meta name="twitter:app:id:phone" content="" />
    <meta name="twitter:app:name:ipad" content="Travelafric.com Hotel & Tour Deals & Reservations in Africa " />
    <meta name="twitter:app:id:ipad" content=" " />
    <meta name="twitter:app:name:googleplay" content="Travelafric.com Hotel Reservations" />
    
    <meta property="al:ios:app_store_id" content="">
    <meta property="al:ios:app_name" content="">
    <meta property="al:android:app_name" content="">
    <meta property="al:android:package" content="">
    <meta property="og:type" content="company" />
    <meta property="og:title" content="Travelafric.com: The one-stop site for booking hotels, day tours, safaris, car rentals and tour guides across Africa" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Are you looking to books for hotels, apartments, day tours, safari or rent a car in any city in Africa, you are guaranteed lower and 24/7 support." />
    <meta property="og:description" content="Find and book city tours, safari tours, day trips, show tickets, sightseeing day tours, popular activities and many more in several cities across Africa"/>
    <meta property="og:locale" content="en_GB" />
    <meta property="og:url" content="https://www.travelafric.com">
    <meta name="csrf-token" content="...">

    


    <!--change icon-->
	<link rel="shortcut icon" href="res/images/favicon.png" type="image/x-icon">
    <!-- Theme Styles -->
    <link rel="stylesheet" href="res/css/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="res/css/animate.min.css">
    
    <!-- Current Page Styles -->
    <link rel="stylesheet" type="text/css" href="res/components/revolution_slider/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="res/components/revolution_slider/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="res/components/jquery.bxslider/jquery.bxslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="res/components/flexslider/flexslider.css" media="screen" />
    <!--new code-->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
   <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    
    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="res/css/style.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="res/css/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="res/css/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="res/css/responsive.css">
    
    <!-- AI Travel Assist Styles -->
    <link rel="stylesheet" href="ai_assist/style1.css">
    <link rel="stylesheet" href="ai_assist/widget.css">
    
    
    <!-- CSS for IE -->
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="res/css/ie.css" />
    <![endif]-->
    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->