<!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="description" content="TravelAfric.com provides a one-stop-shop to book your accommodation, airport transfers, rent-a-car, book excursions, tours, tours guide and buy event tickets in Africa. Planning to your trip or vacation to anywhere in Africa is made more secured, seamless, complete and well connected as never before on one single platform">
    <meta name="Travelafric.com" content="Travelafric.com">
    <meta name="keywords" content="Travel Africa, Travel Afriq, Travel Afric, Travel to South Africa, Travel to Tanzania, Travel Kenya, Travel to Ghana, Travel to Ethiopia, Travel to Nigeria, Safari, Africa, Hotels in Africa, Rent-A-Car in Accra, Vacation in Africa, Event Tickets, Tours Guides, Airport Transfers in Ghana,
                                    Airport Transfers in Addis Ababa, Airport Transfer in Johannesburg, Airport Transfer in Nairobi, Airport Transfer in Dar Es Salaam, Airport Transfer in Zanzibar">
    <meta name="keywords" content="car rentals in Accra, Ghana, airport transfers in Accra, Ghana, rent a car and hotel in Accra, Ghana, car booking, Accra Ghana, rental companies in Accra, Ghana, taxi transfers in Accra, Ghana, Book Your Next Trip,
                                    Transfers from Bole International Airport, Guaranteed Cheaper Rates, Cheap Airport Transfers, Rent-A-Car within Minutes, We Take Care Of Everything Rental, Secured Car Rental in Accra, Book Now Pay Later,One-Stop-Booking-Shop, Easy and Simple Car Booking,
                                    car rental in Accra Ghana, rentalcars in Accra Ghana, car rental near me cheap car rentals in Accra Ghana,car hire near me in Accra Ghana, car rentals, google car rental in Accra Ghana, airport car rental in Accra Ghana, cheap car hire in Accra Ghana,
                                    car rental in Ghana, rental car deals in Accra Ghana, booking car rental in Accra Ghana, rental cars in Accra Ghana, car rental companies in Accra, Ghana, suv rental in Accra Ghana, rent my car in Accra Ghana, luxury car rental in Accra Ghana,
                                    best car rental company in Accra, Ghana, car rental places near me, airport taxi transfers in Accra Ghana, best car rental in Accra Ghana, luxury suv rental near me, booking com car hire in Accra Ghana, rental car in Accra Ghana, holiday transfers in Accra Ghana ">
    <meta name="keywords" content="car rentals in Addis Ababa, Ethiopia, airport transfers in Addis Ababa, Ethiopia, rent a car and hotel in Addis Ababa, Ethiopia, car booking, Addis Ababa Ethiopia, rental companies in Addis Ababa, Ethiopia, taxi transfers in Addis Ababa, Ethiopia, Book Your Next Trip,
                                    Transfers from Bole International Airport, Guaranteed Cheaper Rates, Cheap Airport Transfers, Rent-A-Car within Minutes, We Take Care Of Everything Rental, Secured Car Rental in Addis Ababa, Book Now Pay Later,One-Stop-Booking-Shop, Easy and Simple Car Booking,
                                    car rental in Addis Ababa Ethiopia, rentalcars in Addis Ababa Ethiopia, car rental near me cheap car rentals in Addis Ababa Ethiopia,car hire near me in Addis Ababa Ethiopia, car rentals, google car rental in Addis Ababa Ethiopia, airport car rental in Addis Ababa Ethiopia, cheap car hire in Addis Ababa Ethiopia,
                                    car rental in Ethiopia, rental car deals in Addis Ababa Ethiopia, booking car rental in Addis Ababa Ethiopia, rental cars in Addis Ababa Ethiopia, car rental companies in Addis Ababa, Ethiopia, suv rental in Addis Ababa Ethiopia, rent my car in Addis Ababa Ethiopia, luxury car rental in Addis Ababa Ethiopia,
                                    best car rental company in Addis Ababa, Ethiopia, car rental places near me, airport taxi transfers in Addis Ababa Ethiopia, best car rental in Addis Ababa Ethiopia, luxury suv rental near me, booking com car hire in Addis Ababa Ethiopia, rental car in Addis Ababa Ethiopia, holiday transfers in Addis Ababa Ethiopia ">
    <meta name="keywords" content="car rentals in Johannesburg, South Africa, airport transfers in Johannesburg, South Africa, rent a car and hotel in Johannesburg, South Africa, car booking, Johannesburg South Africa, rental companies in Johannesburg, South Africa, taxi transfers in Johannesburg, South Africa, Book Your Next Trip,
                                    Transfers from Bole International Airport, Guaranteed Cheaper Rates, Cheap Airport Transfers, Rent-A-Car within Minutes, We Take Care Of Everything Rental, Secured Car Rental in Johannesburg, Book Now Pay Later,One-Stop-Booking-Shop, Easy and Simple Car Booking,
                                    car rental in Johannesburg South Africa, rentalcars in Johannesburg South Africa, car rental near me cheap car rentals in Johannesburg South Africa,car hire near me in Johannesburg South Africa, car rentals, google car rental in Johannesburg South Africa, airport car rental in Johannesburg South Africa, cheap car hire in Johannesburg South Africa,
                                    car rental in South Africa, rental car deals in Johannesburg South Africa, booking car rental in Johannesburg South Africa, rental cars in Johannesburg South Africa, car rental companies in Johannesburg, South Africa, suv rental in Johannesburg South Africa, rent my car in Johannesburg South Africa, luxury car rental in Johannesburg South Africa,
                                    best car rental company in Johannesburg, South Africa, car rental places near me, airport taxi transfers in Johannesburg South Africa, best car rental in Johannesburg South Africa, luxury suv rental near me, booking com car hire in Johannesburg South Africa, rental car in Johannesburg South Africa, holiday transfers in Johannesburg South Africa ">
    <meta name="keywords" content="car rentals in Dar Es Salaam, Tanzania, airport transfers in Dar Es Salaam, Tanzania, rent a car and hotel in Dar Es Salaam, Tanzania, car booking, Dar Es Salaam Tanzania, rental companies in Dar Es Salaam, Tanzania, taxi transfers in Dar Es Salaam, Tanzania, Book Your Next Trip,
                                    Transfers from Bole International Airport, Guaranteed Cheaper Rates, Cheap Airport Transfers, Rent-A-Car within Minutes, We Take Care Of Everything Rental, Secured Car Rental in Dar Es Salaam, Book Now Pay Later,One-Stop-Booking-Shop, Easy and Simple Car Booking,
                                    car rental in Dar Es Salaam Tanzania, rentalcars in Dar Es Salaam Tanzania, car rental near me cheap car rentals in Dar Es Salaam Tanzania,car hire near me in Dar Es Salaam Tanzania, car rentals, google car rental in Dar Es Salaam Tanzania, airport car rental in Dar Es Salaam Tanzania, cheap car hire in Dar Es Salaam Tanzania,
                                    car rental in Tanzania, rental car deals in Dar Es Salaam Tanzania, booking car rental in Dar Es Salaam Tanzania, rental cars in Dar Es Salaam Tanzania, car rental companies in Dar Es Salaam, Tanzania, suv rental in Dar Es Salaam Tanzania, rent my car in Dar Es Salaam Tanzania, luxury car rental in Dar Es Salaam Tanzania,
                                    best car rental company in Dar Es Salaam, Tanzania, car rental places near me, airport taxi transfers in Dar Es Salaam Tanzania, best car rental in Dar Es Salaam Tanzania, luxury suv rental near me, booking com car hire in Dar Es Salaam Tanzania, rental car in Dar Es Salaam Tanzania, holiday transfers in Dar Es Salaam Tanzania ">
    <meta name="keywords" content="car rentals in Zanzibar, Tanzania, airport transfers in Zanzibar, Tanzania, rent a car and hotel in Zanzibar, Tanzania, car booking, Zanzibar Tanzania, rental companies in Zanzibar, Tanzania, taxi transfers in Zanzibar, Tanzania, Book Your Next Trip,
                                    Transfers from Bole International Airport, Guaranteed Cheaper Rates, Cheap Airport Transfers, Rent-A-Car within Minutes, We Take Care Of Everything Rental, Secured Car Rental in Zanzibar, Book Now Pay Later,One-Stop-Booking-Shop, Easy and Simple Car Booking,
                                    car rental in Zanzibar Tanzania, rentalcars in Zanzibar Tanzania, car rental near me cheap car rentals in Zanzibar Tanzania,car hire near me in Zanzibar Tanzania, car rentals, google car rental in Zanzibar Tanzania, airport car rental in Zanzibar Tanzania, cheap car hire in Zanzibar Tanzania,
                                    car rental in Tanzania, rental car deals in Zanzibar Tanzania, booking car rental in Zanzibar Tanzania, rental cars in Zanzibar Tanzania, car rental companies in Zanzibar, Tanzania, suv rental in Zanzibar Tanzania, rent my car in Zanzibar Tanzania, luxury car rental in Zanzibar Tanzania,
                                    best car rental company in Zanzibar, Tanzania, car rental places near me, airport taxi transfers in Zanzibar Tanzania, best car rental in Zanzibar Tanzania, luxury suv rental near me, booking com car hire in Zanzibar Tanzania, rental car in Zanzibar Tanzania, holiday transfers in Zanzibar Tanzania ">
    <meta name="keywords" content="car rentals in Nairobi, Kenya, airport transfers in Nairobi, Kenya, rent a car and hotel in Nairobi, Kenya, car booking, Nairobi Kenya, rental companies in Nairobi, Kenya, taxi transfers in Nairobi, Kenya, Book Your Next Trip,
                                    Transfers from Bole International Airport, Guaranteed Cheaper Rates, Cheap Airport Transfers, Rent-A-Car within Minutes, We Take Care Of Everything Rental, Secured Car Rental in Nairobi, Book Now Pay Later,One-Stop-Booking-Shop, Easy and Simple Car Booking,
                                    car rental in Nairobi Kenya, rentalcars in Nairobi Kenya, car rental near me cheap car rentals in Nairobi Kenya,car hire near me in Nairobi Kenya, car rentals, google car rental in Nairobi Kenya, airport car rental in Nairobi Kenya, cheap car hire in Nairobi Kenya,
                                    car rental in Kenya, rental car deals in Nairobi Kenya, booking car rental in Nairobi Kenya, rental cars in Nairobi Kenya, car rental companies in Nairobi, Kenya, suv rental in Nairobi Kenya, rent my car in Nairobi Kenya, luxury car rental in Nairobi Kenya,
                                    best car rental company in Nairobi, Kenya, car rental places near me, airport taxi transfers in Nairobi Kenya, best car rental in Nairobi Kenya, luxury suv rental near me, booking com car hire in Nairobi Kenya, rental car in Nairobi Kenya, holiday transfers in Nairobi Kenya ">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--change icon-->
	<link rel="shortcut icon" href="res/images/favicon.png" type="image/x-icon">
    <!-- Theme Styles -->
    <link rel="stylesheet" href="res/css/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="res/css/animate.min.css">
    
    <!-- Current Page Styles -->
    <link rel="stylesheet" type="text/css" href="res/components/revolution_slider/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="res/components/revolution_slider/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="res/components/jquery.bxslider/jquery.bxslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="res/components/flexslider/flexslider.css" media="screen" />
    <!--new code-->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    
    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="res/css/style.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="res/css/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="res/css/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="res/css/responsive.css">
    
    <!-- CSS for IE -->
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="res/css/ie.css" />
    <![endif]-->
    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->