/*
 * Title:   Travelo - Travel, Tour Booking HTML5 Template - Main CSS file
 * Author:  http://themeforest.net/user/soaptheme
 */

formhotel{
    margin-top: 20px;
    margin-left: inherit;
    margin-right: inherit;
    padding: 20px;
    height: 200;
    width: 180;

}
text{
    font-family:monospace
}
h6{
    font-size: 12px
}
signup.container{
    padding: 10;
    border: 
}